name: Upload Python Package

on:
  push:
  release:
    types: [published]

permissions:
  contents: write  # Needed for uploading files to the release
  id-token: write  # Needed for OIDC PyPI publishing

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.build.outputs.package_version }}
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
        persist-credentials: false
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: "3.13"
    - name: Setup uv
      uses: astral-sh/setup-uv@557e51de59eb14aaaba2ed9621916900a91d50c6 # v6.6.1
      with:
        version: ">=0.6.15"
    - name: Build package
      run: |
        uv build
        echo "package_version=$(uv run python -c 'import tap_postgres; print(tap_postgres.__version__)')" >> $GITHUB_OUTPUT
      id: build
    - name: Upload artifacts
      uses: actions/upload-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      with:
        name: Packages
        path: dist/

  publish:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    environment:
      name: publishing
      url: https://pypi.org/project/meltanolabs-tap-postgres/${{ needs.build.outputs.version }}

    steps:
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      with:
        name: Packages
        path: dist
    - uses: svenstaro/upload-release-action@81c65b7cd4de9b2570615ce3aad67a41de5b1a13 # 2.11.2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: dist/*.whl
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
    - name: Deploy to PyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
